$bgColor: #f5f5f5;
$contentColor: #f5f5f5;
$specialColor: #3fbac2;
$fillColor: #4d606e;
$whiteColor: #ffffff;
$fontColor: rgba(0, 0, 0, 0.87);
$pColor: rgba(0, 0, 0, 0.55);
$lightDim: rgba(0, 0, 0, 0.015);
$cubicBezier: cubic-bezier(0.3, 0.9, 0.8, 0.9);

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background: $bgColor;
	color: $fontColor;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	font-weight: 400;
}

h2 {
	margin: 0;
	margin-bottom: 0.3em;
}

p {
	color: $pColor;
}

div {
	outline: 0;
}

img {
	width: 100%;
	object-fit: cover;
	transition: height 0.4s;
}

button {
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	cursor: pointer;
	background-color: transparent;
	transition: background-color 0.2s;

	&:hover {
		background-color: $lightDim;
	}
}

.defaultButton {
	color: $specialColor;
	padding: 1em;
	font-weight: 800;

	&:hover {
		background-color: #{$specialColor + '0a'};
	}

	& > span {
		display: block;
		transition: transform 0.1s;
	}
}

.defaultButton--pressed {
	& > span {
		transform: scale(0.85);
	}
}

.defaultTextarea {
	width: 100%;
	height: 100%;
	font: inherit;
	font-size: 16px;
	border: 0;
	outline: 0;
	resize: none;
	overflow: hidden;
	background-color: transparent;
}

.defaultTextarea-container {
	display: flex;
	flex-flow: column nowrap;
	position: relative;
	padding: 8px 8px 2px 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	transition: background-color 0.2s;

	&:hover {
		background-color: $lightDim;
	}

	&:before {
		position: absolute;
		content: '';
		left: 0;
		bottom: 0;
		right: 0;
		border-bottom: 1px solid $pColor;
	}

	&:after {
		position: absolute;
		content: '';
		left: 0;
		bottom: 0;
		right: 100%;
		border-bottom: 2px solid $specialColor;
		transition: right 0.4s $cubicBezier;
	}
}

.defaultTextarea-container--focused {
	&:after {
		right: 0;
		transition: right 0.4s $cubicBezier;
	}

	.defaultLabel {
		color: $specialColor;
		transition: color 0.4s $cubicBezier;
	}
}

.defaultLabel {
	display: block;
	margin-bottom: 4px;
	color: $pColor;
	transition: color 0.4s $cubicBezier;
}

.workspace-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, 300px);
	grid-auto-rows: minmax(300px, auto);
	gap: 5rem;
	justify-content: center;
	align-content: center;

	margin: auto;
	padding: 10vh 0;
	max-width: 90vw;
	min-height: 100vh;

	.workspace-element {
		display: flex;
		flex-flow: column nowrap;

		background: $whiteColor;
		overflow: hidden;
		border-radius: 4px;
		box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
			0px 1px 3px 0px rgba(0, 0, 0, 0.12);

		.workspace-button {
			display: flex;
			flex-flow: column nowrap;
			height: 100%;

			.workspace-details {
				display: flex;
				flex-flow: column nowrap;

				width: 100%;
				height: 100%;
				padding: 1em;
				text-align: left;
			}
		}
	}

	.workspace-element--edit {
		img {
			height: 0;
		}

		.workspace-button {
			cursor: default;

			&:hover {
				background-color: transparent;
			}
		}
	}
}
